.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    & form{
        width: 100%;
    }

    @media screen and (max-width: 800px){
        width: 75%;
        align-items: center; 
    }

    .title{
        margin: 10px 0;
    }

    .buttons{
        display:flex;
        justify-content: space-around;
        
        @media screen and (max-width: 600px){
            height: 120px;
            flex-direction: column;
        }
    }
}